<mat-card>
  <form [formGroup]="userForm" novalidate>
    <div fxFlex="70" fxLayoutAlign="start center">
      <div fxFlex="30" fxLayoutAlign="start center">
        <mat-form-field class="example-full-width" *ngIf="!isDeleteAction">
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="formService.validate('name', 'required')">Mandatory</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="30" fxLayoutAlign="start center">
        <mat-form-field class="example-full-width" *ngIf="!isDeleteAction">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="formService.validate('email', 'required')">Mandatory</mat-error>
          <mat-error *ngIf="!formService.validate('email', 'required') && formService.validate('email', 'email')">No Email</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="30" fxLayoutAlign="end center">
      <button mat-button color="primary" (click)="update()">
        <span>Save</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="!userForm.get('isEnabled').value" mat-menu-item (click)="disable(true)">
          <mat-icon>check</mat-icon>
          <span>Enable</span>
        </button>
        <button *ngIf="userForm.get('isEnabled').value" mat-menu-item (click)="disable(false)">
          <mat-icon>close</mat-icon>
          <span>Disable</span>
        </button>
        <button *ngIf="userForm.get('isEnabled').value" mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </form>
  <!--<p>Skill Value: {{ user | json }}</p>-->
  <!--<p>Form value: {{ userForm.value | json }}</p>-->
  <!--<p>Form status: {{ userForm.status | json }}</p>-->
</mat-card>