<mat-card>

    <form [formGroup]="skillForm" novalidate>
        <div fxFlex="70" fxLayoutAlign="start center">
            <div fxFlex="50" fxLayoutAlign="start center">
                <mat-form-field class="example-full-width" *ngIf="!isDeleteAction">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="skillForm.get('name').status==='INVALID'">Mandatory</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxLayoutAlign="start center">
                <!--<mat-slide-toggle-->
                        <!--formControlName="isEnabled"-->
                        <!--[color]="'primary'"-->
                        <!--[checked]="skillForm.get('isEnabled').value"-->
                        <!--[disabled]="false">-->

                    <!--Enabled-->
                <!--</mat-slide-toggle>-->
            </div>
            <!--<mat-form-field class="example-full-width">-->
            <!--<textarea matInput placeholder="Leave a comment"></textarea>-->
            <!--</mat-form-field>-->
        </div>
        <div fxFlex="30" fxLayoutAlign="end center">
            <button mat-button color="primary" (click)="update()">
                <span>Save</span>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngIf="!skillForm.get('isEnabled').value" mat-menu-item (click)="disable(true)">
                    <mat-icon>check</mat-icon>
                    <span>Enable</span>
                </button>
                <button *ngIf="skillForm.get('isEnabled').value" mat-menu-item (click)="disable(false)">
                    <mat-icon>close</mat-icon>
                    <span>Disable</span>
                </button>
                <button *ngIf="skillForm.get('isEnabled').value" mat-menu-item (click)="delete()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>

            <!--<button mat-button (click)="delete()">-->
                <!--<span>Delete</span>-->
            <!--</button>-->
            <!--<button *ngIf="!skillForm.get('isEnabled').value" mat-button="" (click)="disable(true)">Enable-->
            <!--</button>-->
            <!--<button *ngIf="skillForm.get('isEnabled').value" mat-button="" (click)="disable(false)">Disable-->

            <!--</button>-->
        </div>
    </form>
    <!--<p>Skill Value: {{ skill | json }}</p>-->
    <!--<p>Form value: {{ skillForm.value | json }}</p>-->
    <!--<p>Form status: {{ skillForm.status | json }}</p>-->
</mat-card>
