<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
    <button mat-button [routerLink]="['/home']">i-Plan</button>
    <button *ngIf="!(authService.user$ | async)?.uid" class="login" mat-button (click)="authService.login()">Login
    </button>
    <button *ngIf="(authService.user$ | async)?.uid" class="logout" mat-button (click)="authService.logout()">Logout
    </button>
    <div fxLayout="row" fxLayoutAlign="end center" class="nav-buttons">
        <div *ngIf="(authService.user$ | async)?.uid">
            <button mat-button [routerLink]="['/items']">Items</button>
        </div>
        <button mat-button [routerLink]="['/user-list']">Users</button>
        <button mat-button [routerLink]="['/skill-list']">Skills</button>
        <button mat-button [routerLink]="['/location-list']">Locations</button>
        <button mat-button [routerLink]="['/project-list']">Projects</button>
        <!--<button mat-button>Company</button>-->
    </div>
</mat-toolbar>
<!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->
<div style="margin-top: 20px">
    <div fxFlex="20"></div>
    <div fxFlex="60">
        <router-outlet></router-outlet>
    </div>
    <div fxFlex></div>
</div>

<!--<app-items></app-items>-->
<!--<router-outlet></router-outlet>-->



